form {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.upload-image {
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.upload-btn {
  width: 30px;
  height: 30px;
}

:host::ng-deep.mat-mini-fab .mat-button-wrapper {
  padding: 0;
}

.upload-icon {
  font-size: 22px;
  width: 22px;
  height: 22px;
  margin-bottom: 5px;
}

.file-name {
  padding-left: 12px;
  padding-top: 3px;
  cursor: pointer;
  word-break: break-word;
}

.progress {
  width: 100%;
}

.border {
  border: 3px solid var(--primary-color);
}

.img-container {
  width: 100%;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-placeholder {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  width: 100%;
  object-fit: contain;
}

.img-button {
  transition: 0.5s ease;
  opacity: 0;
  position: relative;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 0.5rem;
}

.img-container:hover .img-placeholder {
  opacity: 0.7;
}

.img-container:hover .img-button {
  opacity: 1;
}
