:host {
  display: grid;
  grid:
    "nav header" min-content
    "nav module-host" 1fr / min-content 1fr;
  min-height: 100vh;
}

app-navbar {
  grid-area: nav;
  height: 100vh;
  position: sticky;
  top: 0;
  &.is-mobile {
    position: absolute;
    z-index: 1000;
  }
}

header {
  display: grid;
  grid-area: header;
  grid-template-areas: "app-toolbar";
  grid-template-rows: min-content min-content;
  position: sticky;
  top: 0;
  z-index: 50;
}

main {
  grid-area: module-host;
  min-width: 0;
  position: relative;
  overflow: auto;
}

.main {
  --scrollbar-size: 7px;
  --scrollbar-hover-size: 9px;
  --scrollbar-thumb-color: var(--wckd-scrollbar-color);
  --scrollbar-thumb-hover-color: var(--wckd-scrollbar-hover-color);

  ::ng-deep {
    .ng-scroll-content {
      display: block !important;
      padding: 0 2rem;
    }
  }
}
