@import "~@angular/material/theming";
@import "function";
@include mat-core();
@import "one-dark";
@import "monokai";

@mixin color-palette($color-palette) {
  $foreground: map-get($color-palette, foreground);
  $background: map-get($color-palette, background);
  $primary: map-get($color-palette, first-color);
  $accent: map-get($color-palette, second-color);
  $warn: map-get($color-palette, third-color);
  $contrast: map-get($color-palette, contrast);

  // contrast is an object so we need to get what inside it
  $contrast-primary: map-get($contrast, first-color);
  $contrast-accent: map-get($contrast, second-color);
  $contrast-warn: map-get($contrast, third-color);

  --background-color: #{$background};
  --foreground-color: #{$foreground};
  --primary-color: #{$primary};
  --accent-color: #{$accent};
  --warn-color: #{$warn};
  --primary-text-color: #{$contrast-primary};
  --accent-text-color: #{$contrast-accent};
  --warn-text-color: #{$contrast-warn};
}

.one-dark-theme {
  @include angular-material-color($one-dark-theme);
  @include color-palette($one-dark-color);
}

.monokai-theme {
  @include angular-material-color($monokai-theme);
  @include color-palette($monokai-color);
}
