@import "~@angular/material/theming";

@include mat-core();

$dark-primary: mat-palette($mat-indigo);
$dark-accent: mat-palette($mat-pink);
$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);

.wckd-dark {
  @include angular-material-color($dark-theme);
}
