.content-wrapper {
  margin: 2rem 2rem 1rem 2rem;
}

.container-wrapper {
  display: flex;
  justify-content: space-around;
}

.container {
  margin: 0;
}

.list {
  border: solid 1px #ccc;
  min-height: 60px;
  border-radius: 4px;
}

app-new-task {
  margin-bottom: 30px;
}

.empty-label {
  font-size: 2em;
  padding-top: 3px;
  text-align: center;
  opacity: 0.2;
}

.cdk-drag-animating {
  transition: transform 250ms;
}

.cdk-drag-placeholder {
  opacity: 0;
}

