<section>
  <mat-card>
    <mat-card-title class="text-center">
      <h2>Profile</h2>
    </mat-card-title>
    <img mat-card-image src="" alt="">
    <mat-card-content>
      <div class="grid grid-nogutter pl-2" style="white-space: normal; word-wrap: break-word;">
        <div class="col-12">
          <div class="grid grid-nogutter">
            <div class="col-4 pr-1">
              <p>Name</p>
            </div>
            <span>:</span>
            <div class="col-7 pl-2">
              <p>Joshua Melvin</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="grid grid-nogutter">
            <div class="col-4 pr-1">
              <p>Place of birth</p>
            </div>
            <span>:</span>
            <div class="col-7 pl-2">
              <p>Jambi</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="grid grid-nogutter">
            <div class="col-4 pr-1">
              <p>Date of birth</p>
            </div>
            <span>:</span>
            <div class="col pl-2">
              <p>07 November 1997</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="grid grid-nogutter">
            <div class="col-4 pr-1">
              <p>Education</p>
            </div>
            <span>:</span>
            <div class="col pl-2">
              <p>S1 Teknik Informatika</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="grid grid-nogutter">
            <div class="col-4 pr-1">
              <p>Phone Number</p>
            </div>
            <span>:</span>
            <div class="col pl-2">
              <p>+6287777002861</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="grid grid-nogutter">
            <div class="col-4 pr-1">
              <p>Email</p>
            </div>
            <span>:</span>
            <div class="col pl-2">
              <p>joshuamlvn@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button matTooltip="Settings">
        <mat-icon>
          settings
        </mat-icon>
      </button>
      <button mat-icon-button matTooltip="Delete">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</section>
