<div class="grid grid-nogutter py-4">
  <div class="col-12 lg:col-8 px-4">
    <div class="grid grid-nogutter">
      <div class="col-12">
        <h1 class="text-center m-0">My personal project</h1>
      </div>
      <div class="col-12 mb-2 lg:m-0 lg:px-8 pt-4">
        <div class="py-2" *ngFor="let item of project">
          <ng-container *ngIf="item.active">
            <app-dashboard-card-item [project]="item"></app-dashboard-card-item>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-4 px-4 person-detail">
    <app-dashboard-profile-card></app-dashboard-profile-card>
  </div>
</div>
