<div class="grid grid-nogutter py-4">
  <div class="col-12 lg:col-8 px-4">
    <div class="grid grid-nogutter">
      <div class="col-12">
        <h1 class="text-center m-0">My personal project</h1>
      </div>
      <div class="col-12 mb-4 lg:m-0">
        <div class="lg:py-2">
          <app-dashboard-card-item></app-dashboard-card-item>
        </div>
        <app-dashboard-card-item></app-dashboard-card-item>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-4 px-4 person-detail">
    <app-dashboard-profile-card></app-dashboard-profile-card>
  </div>
</div>
