<nav class="navbar">
  <div class="logo_header py-3 h-5rem">
    <div class="logo_detail">
      <img [src]="logo" class="logo_icon" />
      <h2 class="logo_name m-0">JoshWckd</h2>
    </div>
  </div>
  <ng-scrollbar class="menu" pointerEventsMethod="scrollbar">
    <mat-nav-list disableRipple="true">
      <app-menu-item
        *ngFor="let item of menuItems"
        [item]="item"
      ></app-menu-item>
    </mat-nav-list>
  </ng-scrollbar>
  <div class="version-info">
    <span>Version : {{ version }}</span>
  </div>
</nav>
