.navbar {
  display: grid;
  grid:
    "logo" min-content
    "hamburger-is-collapse" min-content
    "menu"
    "version" min-content;
  height: 100vh;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  width: 256px;
}

.navbar .header-group {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  box-shadow: 0px -1px 0px var(--divider) inset;
  padding: 20px 25px 20px 15px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  .brand-detail {
    display: flex;
    align-items: center;

    .brand-icon {
      width: 30px;
      height: 30px;
      margin-right: 16px;
    }
    .brand-name {
      font-size: 1.5rem;
      text-align: center;
      cursor: default;
    }
  }
  .hamburger .nav-button:hover {
    color: var(--warn-color) !important;
  }
}

// ******* Start Navbar is Collapsed ********* //
.navbar.is-collapsed {
  width: 64px;
}

.navbar.is-collapsed .header-group {
  padding: 20px 0px 20px 15px;

  .brand-detail .brand-icon {
    margin-right: 0;
  }
}
// ******* End Navbar is Collapsed ********** //

.navbar .hamburger.is-collapsed {
  grid-area: hamburger-is-collapse;
  padding: 20px 0px 20px 15px;

  .nav-button:hover {
    color: var(--primary-color) !important;
  }
}

.menu {
  grid-area: menu;
  --scrollbar-padding: 2px;
  --scrollbar-thumb-color: var(--wckd-scrollbar-color);
  --scrollbar-thumb-hover-color: var(--wckd-scrollbar-hover-color);

  @media screen and (min-width: 320px) and (max-width: 599px) {
    --scrollbar-size: 0;
  }
}

.menu-group {
  border: 0;
  display: block;
  letter-spacing: 0.25px;
  max-width: 100%;
  position: relative;
  text-align: left;
  box-shadow: 0px -1px 0px var(--divider) inset;

  .group-header-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 25px 20px 22px;
    transition: background-color 0.15s ease;
    &:hover {
      background-color: var(--hover) !important;
      .group-toggle {
        opacity: 1;
      }
    }
  }
  .group-header-label .group-toggle {
    font-size: 20px;
    opacity: 0;
    height: 20px;
    width: 20px;
    margin: 5px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: rotate(0deg);
  }
  .group-header-label .group-toggle.expanded {
    transform: rotate(-180deg);
  }
  .group-title {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 2px;
  }
  .group-nav-links {
    padding-bottom: 15px;
  }
}

.version-info {
  grid-area: version;
  text-align: center;
}
.version-info span {
  font-size: 12px;
  font-weight: 400;
}

.nav-button {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
