<nav class="navbar">
  <div class="logo-header">
    <div class="logo-detail">
      <img [src]="logo" class="logo-icon" />
      <h3 class="logo-name m-0">JoshWckd</h3>
    </div>
    <div class="hamburger">
      <!-- TODO : Create Hamburger Button Navbar -->
    </div>
  </div>
  <ng-scrollbar class="menu" pointerEventsMethod="scrollbar">
    <div class="menu-group">
      <div class="group-header-label" (click)="expanded = !expanded">
        <h3 class="col p-0 group-title">Projects</h3>
        <mat-icon
          class="group-toggle"
          [ngClass]="expanded ? 'expanded' : 'collapsed'"
        >
          expand_more
        </mat-icon>
      </div>
      <div class="group-nav-links" @showChild *ngIf="expanded">
        <app-menu-item
          *ngFor="let item of menuItems"
          [item]="item"
        ></app-menu-item>
      </div>
    </div>
  </ng-scrollbar>
  <div class="version-info">
    <span>Version : {{ version }}</span>
  </div>
</nav>
