<mat-sidenav-container autosize="true">
  <mat-sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
    position="start"
  >
    <div class="sidenav_content">
      <div class="grid grid-nogutter">
        <div class="col-12">
          <div class="logo_header pt-3">
            <div class="logo_detail">
              <img [src]="logo" class="logo_icon" />
              <h2 class="logo_name m-0">JoshWckd</h2>
            </div>
            <button
              mat-icon-button
              *ngIf="isMobile"
              (click)="navService.closeNav()"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <mat-nav-list>
        <app-menu-list-item
          *ngFor="let item of navItems"
          [item]="item"
        ></app-menu-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <loading></loading>
    <app-top-navbar></app-top-navbar>
    <main>
      <ng-scrollbar>
        <router-outlet></router-outlet>
      </ng-scrollbar>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
