<mat-sidenav-container autosize="true">
  <mat-sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
    position="start"
  >
    <mat-nav-list>
      <app-menu-list-item
        *ngFor="let item of navItems"
        [item]="item"
      ></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <loading></loading>
    <app-top-navbar></app-top-navbar>
    <main>
      <ng-scrollbar>
        <router-outlet></router-outlet>
      </ng-scrollbar>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
