<div class="grid grid-nogutter pt-2 px-4 justify-content-center align-items-center">

  <div class="col-12 py-2">
    <div class="grid grid-nogutter justify-content-center align-items-center">
      <mat-form-field class="input-field">
        <input matInput placeholder="File Name" type="text" readonly [formControl]="imageName">
        <input
          #fileUpload
          type="file"
          style="display: none"
          (change)="fileChange($event)"
          accept=".png"
        >
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        class="upload-btn"
        disableRipple="true"
        (click)="fileUpload.click()"
      >
        <span>Upload</span>
      </button>
    </div>
  </div>

  <div class="col-12 py-2">
    <div class="grid grid-nogutter justify-content-center">
      <img
        #image
        class="img-placeholder h-full lg:h-20rem"
        [src]="imageInput?.value"
      />
    </div>
  </div>

  <div class="col-12">
    <div class="grid grid-nogutter justify-content-center" *ngFor="let item of prediction">
        {{item.class_name}} - {{item.probability | percent}}
    </div>
  </div>
</div>
