<a
  *ngIf="!item?.disabled && item?.route"
  [ngStyle]="{ 'padding-left': depth * 22 + 21 + 'px' }"
  [ngClass]="[isNavCollapsed ? 'is-collapsed' : '', depth ? 'sub-' + depth : '']"
  [routerLink]="item?.route"
  [routerLinkActive]="['active', 'expanded']"
  (click)="onRouteClick(true)"
  class="menu-item"
  matTooltip="{{ item?.title }}"
  matTooltipPosition="after"
  matTooltipDisabled="{{!isNavCollapsed}}"
>
  <mat-icon class="route-icon">{{ item?.icon }}</mat-icon>
  <span class="col py-0 pl-2 pr-4 route-title" @fadeInOut *ngIf="!isNavCollapsed">{{ item?.title }}</span>
  <div
    class="text-right sub-menu-toggle"
    *ngIf="item?.children && item?.children?.length && !isNavCollapsed"
    @fadeInOut
  >
    <mat-icon
      class="sub-menu-toggle-icon"
      [@indicatorRotate]="expanded ? 'expanded' : 'collapsed'"
    >
      expand_more
    </mat-icon>
  </div>
</a>
<a
  *ngIf="!item?.disabled && !item?.route"
  [ngStyle]="{ 'padding-left': depth * 22 + 21 + 'px' }"
  [ngClass]="[isNavCollapsed ? 'is-collapsed' : '', depth ? 'sub-' + depth : '']"
  (click)="onRouteClick(false)"
  class="menu-item"
  matTooltip="{{ item?.title }}"
  matTooltipPosition="after"
  matTooltipDisabled="{{!isNavCollapsed}}"
>
  <mat-icon class="route-icon">{{ item?.icon }}</mat-icon>
  <span class="col py-0 pl-2 pr-4 route-title" @fadeInOut *ngIf="!isNavCollapsed">{{ item?.title }}</span>
  <div
    class="text-right sub-menu-toggle"
    *ngIf="item?.children && item?.children?.length && !isNavCollapsed"
    @fadeInOut
  >
    <mat-icon
      class="sub-menu-toggle-icon"
      [@indicatorRotate]="expanded ? 'expanded' : 'collapsed'"
    >
      expand_more
    </mat-icon>
  </div>
</a>
<div @showChild *ngIf="expanded && item?.children?.length">
  <app-menu-item
    *ngFor="let child of item.children"
    [item]="child"
    [isNavCollapsed]="isNavCollapsed"
    [isMobile]="isMobile"
    [depth]="depth + 1"
  >
  </app-menu-item>
</div>
