<a
  *ngIf="!item?.disabled && item?.route"
  [ngStyle]="{ 'padding-left': depth * 12 + 24 + 'px' }"
  [routerLink]="item?.route"
  [routerLinkActive]="['active', 'expanded']"
  #rla="routerLinkActive"
  (click)="expanded = !expanded"
  class="menu-item"
>
  <mat-icon class="routeIcon">{{ item?.icon }}</mat-icon>
  <span class="pl-2 pr-4">{{ item?.title }}</span>
  <div
    class="col p-0 text-right"
    *ngIf="item?.children && item?.children?.length"
  >
    <mat-icon
      class="sub-menu-toggle"
      [@indicatorRotate]="expanded ? 'expanded' : 'collapsed'"
    >
      expand_more
    </mat-icon>
  </div>
</a>
<a
  *ngIf="!item?.disabled && !item?.route"
  [ngStyle]="{ 'padding-left': depth * 12 + 24 + 'px' }"
  (click)="expanded = !expanded"
  class="menu-item"
>
  <mat-icon class="routeIcon">{{ item?.icon }}</mat-icon>
  <span class="pl-2 pr-4">{{ item?.title }}</span>
  <div
    class="col p-0 text-right"
    *ngIf="item?.children && item?.children?.length"
  >
    <mat-icon
      class="sub-menu-toggle"
      [@indicatorRotate]="expanded ? 'expanded' : 'collapsed'"
    >
      expand_more
    </mat-icon>
  </div>
</a>
<div @showChild *ngIf="expanded && item?.children?.length">
  <app-menu-item
    *ngFor="let child of item.children"
    [item]="child"
    [depth]="depth + 1"
  >
  </app-menu-item>
</div>
