:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

  .mat-list-item.active {
    color: var(--primary-color);
  }
  // &:hover,
  // &:focus {
  //   > .mat-list-item:not(.expanded) {
  //     background-color: lightblue !important;
  //   }
  // }
}

.mat-list-item {
  display: flex;
  width: auto;

  .routeIcon {
    margin-right: 20px;
    font-size: 1.25rem;
  }
}

:host::ng-deep .mat-list-item .mat-list-item-content {
  width: 100%;
}
