@import "one-dark-palette";
@import "../../mixins";
@import "../../common";
@import "../../core";
@import "~@angular/material/theming";
@include mat-core();

$is-dark: true; // Define the theme to be dark scheme

$one-dark-theme: construct-theme(
  (
    color: (
      primary: mat-palette($md-primary, 400),
      accent: mat-palette($md-secondary, 400),
      warn: mat-palette($md-warn, 400),
    ),
  ),
  $foreground-dark-theme,
  $background-dark-theme,
  $is-dark
);

@include angular-material-theme($one-dark-theme);
.custom-theme {
  @include color-palette($one-dark-theme);
  @include primary-palette($md-primary);
  @include secondary-palette($md-secondary);
  @include warn-palette($md-warn);
}
