// You can generate your custom theme from `http://mcg.mbitson.com/`

$md-background: (
  50: #e5e6e7,
  100: #bfc0c2,
  200: #94969a,
  300: #696b71,
  400: #484c52,
  500: #282c34,
  600: #24272f,
  700: #1e2127,
  800: #181b21,
  900: #0f1015,
  A100: #5a83ff,
  A200: #275dff,
  A400: #003df3,
  A700: #0036da,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-foreground: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #ffffff,
  400: #ffffff,
  500: #ffffff,
  600: #ffffff,
  700: #ffffff,
  800: #ffffff,
  900: #ffffff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-primary: (
  50: #fbedee,
  100: #f6d3d6,
  200: #f0b6ba,
  300: #e9989e,
  400: #e5828a,
  500: #e06c75,
  600: #dc646d,
  700: #d85962,
  800: #d34f58,
  900: #cb3d45,
  A100: #ffffff,
  A200: #ffe6e8,
  A400: #ffb3b7,
  A700: #ff9a9f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-secondary: (
  50: #f3f8ef,
  100: #e0edd7,
  200: #cce1bc,
  300: #b7d5a1,
  400: #a7cc8d,
  500: #98c379,
  600: #90bd71,
  700: #85b566,
  800: #7bae5c,
  900: #6aa149,
  A100: #fdfffc,
  A200: #dcffc9,
  A400: #bbff96,
  A700: #abff7c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-warn: (
  50: #f8effb,
  100: #eed7f5,
  200: #e3bcee,
  300: #d7a1e7,
  400: #cf8ce2,
  500: #c678dd,
  600: #c070d9,
  700: #b965d4,
  800: #b15bcf,
  900: #a448c7,
  A100: #ffffff,
  A200: #f9ebff,
  A400: #ebb8ff,
  A700: #e49fff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
